body {
    display:flex;
    flex-direction: column;
    font-family:'Fredoka One', cursive;

}


/* CSS DO MENU - PARTE DE CIMA DO HOJE*/
header{
    display: flex;
    margin: auto;

}
.header_left{
    width:13%;
}
.header_right{

    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
}

.menu{
    height: 100px;
    width: 100%;
    display: flex;
}
.menu_int{
    justify-content: space-around;
    width: 70%;
    margin: auto;
}
.titulo_do_jogo{
    font-size: 40px;
    text-shadow: 2px 2px #44D62C;
    margin-left: 30px;
}
.nome{
    height:25px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.campo_nome{
    height: 20px;
    margin-left: 10px;
    border: 1px solid indigo;
    border-radius: 3px;
    background-color:white;
}
.legenda_nome{
    font-size: 20px;
}

.btns{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn_jogar{
    height: 50px;
    width: 150px;
    border-radius: 20px;
    border: 2px solid chartreuse;
    font-size: 25px;
    background-color: indigo;
    color: white;
    text-align: center;
    line-height: 50px;

}
.btn_jogar:hover {
    background-color: yellowgreen;
    border:2px solid indigo;
    color: indigo;
}
.btn_reset{
    height: 25px;
    width: 25px;
    background-color: #44D62C;
    border: 2px solid indigo;
    line-height: 25px;
    text-align: center;
    margin-top:10px;
    border-radius:15px ;
    margin-left: 50px;
    margin-right: 50px;
}
.btn_reset img {
    margin-top: 1px;
}
.btn_intrucao{
    height: 25px;
    width: 25px;
    background-color: #44D62C;
    border: 2px solid indigo;
    line-height: 25px;
    text-align: center;
    margin-top:10px;
    border-radius:15px ;
    margin-left: 50px;
    margin-right: 50px;

}
.btn_intrucao img {
    margin-top: 2px;
}



.dificuldade{
    height:25px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.nivel_dificuldade{
    height: 22px;
    width: 100px;
    margin-left: 10px;
    border:1px solid indigo;;
    border-radius: 3px;
    background-color: white;
}
.legenda_dificuldade{
    font-size: 20px;
}

.container_pontuacao{
    height: 50px;
    width: 70%;

}
.container_pontuacao{
    display: flex;
    justify-content: space-around;
}
.pontuacao{
    margin-top: 10px;
    display: flex;
    width:150px;

}
.campo_btns{
    display: flex;
    margin-left: 35px;
}



/* CSS DA TABBELA DE RANK*/
aside{
    width:50%;
    margin-top: 20px;
    background-color: indigo;
    border: 3px solid chartreuse;
    border-radius: 5px;
    margin-left: 150px;
    margin: auto;
    margin-top: 30px;
    
}
.titulo_rank{
    font-size: 20px;
    text-shadow: 1px 1px orangered;
    color:white;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.corpo{
    display: flex;
    width:90%;
    margin: auto;
}





/* CSS DA MESA DO JOGO - ONDE AS CARTAS ESTAO   */
table{
    width: 55%;
    height: 500px;
    margin-left:50px;
    margin-top: 20px;
    background-color: indigo;
    padding: 15px;
    border-radius: 5px;
    border:5px solid #44D62C;
    margin: auto;
    box-shadow: 50px white;
    

}
tr{
    width: 100%;
}
table, tr, td{
    border-spacing: 15px;
}

.container{
    width:90%;
    margin-right: auto;
    margin-left: auto;
    
}
.card{
    height:130px;
    width: 100px;
    margin: auto;
    position: relative;
    perspective: 600px;
    
}
.card:hover{
    box-shadow: 0 0 10px #aaa;
}
.face_back{
    height:100%;
    width: 100%;  
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    position: absolute;
    border: 2px solid white;
    border-radius: 5px;
    transition: all 1s;
    backface-visibility: hidden;
    
    

}
.face_front{
    height:100%;
    width: 100%;
    position: absolute; 
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: white;
    border: 2px solid chartreuse;
    border-radius: 5px;
    transition: all 1s;
    backface-visibility: hidden;

}
.ranking{

    display: flex;
    justify-content: space-around;
}
.ranking img {
    margin-top: 20px;
}
.linha_verde{
    height:2px;
    width: 80%;
    margin:auto;
    margin-bottom: 15px;
    background-color: chartreuse;
}
.corpo_ranking{
    width:80%;
    margin: auto;
}
.corpo_ranking_int{
    width: 100%;

    display: flex;
    justify-content: space-around;
}
.ranking_dificuldade{
    flex: 1;
    display: flex;
    background-color: chartreuse;
    margin: 5px;
}
.ranking_dificuldade_rigth{
    flex: 2;

}
.ranking_dificuldade_left{
    flex: 1;

}
.lista_tempo{
    text-decoration: none;
    list-style: none;
}

/*Bilioteca*/

.flex_box {
    display: flex;
    
}
.visivel{
    visibility: visible;

}
.invisivel{
    visibility: hidden;
    transform: rotateY(180deg);

}
.popup {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    width: 600px;
    height:550px;
    padding:15px;
    border: solid 2px chartreuse;
    background-color: indigo;
    color: white;
    border-radius: 10px;
    display: none;
}
.popup_int{
    display: flex;
    flex-direction: column;
}
.fechar_popup{
    display: flex;
    justify-content: space-between;
}
.conteudo_popup{
 
}
.btn_fechar_popup{
    height: 20px;
    width: 20px;
    background-color: chocolate;
    color: black;
    line-height: 20px;
    text-align: center;
    border:1px solid black;
    border-radius: 15px;
}
.titulo_regras_do_jogo{
    color: chartreuse;
    font-size: 30px;

}